<h1>첫 번째 화면 입니다. </h1>

<form action ="/homes/second" method"get">
    나이:
    <input type="number" name="age">
    이름:
    <input type="text"   name="name">
    <input type="submit" name="submit">
</form>
